
@if (SuccesfulWords < 4)
{
    <div>
        <h3 class="text-danger"> Falta el mensaje de confirmación de carga exitosa {@SuccesfulWords}</h3>
    </div>
}
else if (!CompareDate)
{
    <div>
        <h3 class="text-danger">La fecha de la imagen no concuerda con la fecha actual</h3>
    </div>
}
else if (!CompareTime)
{
    <div>
        <h3 class="text-danger">Fuera de horario</h3>
    </div>
}
else if (SuccesfulWords == 4 && CompareDate && CompareTime)
{
<div>
    <h3 class="text-success"> Validado exitosamente</h3>
</div>
}



@code {

    [Parameter]
    public int SuccesfulWords { get; set; }

    [Parameter]
    public bool CompareDate { get; set; }

    [Parameter]
    public bool CompareTime { get; set; }
}

