<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Produbanco
            <img src="assets/logo.png" alt="Produbanco Logo" style="height: 40px; margin-right: 10px;">
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="serversignalr">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> ARCI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="monitor">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> MONITOR
            </NavLink>
        </li>
    </nav>
</div>

